body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  background-image: url("../public/images/bg-2.jpg");
  background-size: cover;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
